# Ignore everything
*
# but not these ones
!.gitignore
!README.md
!setup.py
!flossy
!flossy.gif

# Ignore everything
flossy/*
# but not these ones
!flossy/__init__.py
!flossy/example.py
!flossy/flossy.py
# but not these ones
!flossy/example_data/pg/pg_tic38515566.csv
!flossy/example_data/pg/pg_tic141479660.csv
!flossy/example_data/pg/pg_tic349832567.csv
!flossy/example_data/pg/pg_tic350144657.csv
!flossy/example_data/pg/pg_tic374944608.csv
!flossy/example_data/pg/pg_tic381950897.csv
# but not these ones
!flossy/example_data/pw/pw_tic38515566.csv
!flossy/example_data/pw/pw_tic141479660.csv
!flossy/example_data/pw/pw_tic349832567.csv
!flossy/example_data/pw/pw_tic350144657.csv
!flossy/example_data/pw/pw_tic374944608.csv
!flossy/example_data/pw/pw_tic381950897.csv